* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/sunny.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  font-family: "montserrat", sans-serif;
}

.weather_rain {
  background-image: url(images/raining_mobile.jpg);
}

.weather_clouds {
  background-image: url(images/dark_cloudy_forest.jpg);
}

.weather_clear {
  background-image: url(images/clear.jpg);
}

.weather_thunderstorm {
  background-image: url(images/storm.jpg);
}
.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.6)
  );
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px 25px 25px 25px;
}

.form-control {
  width: 100%;
  max-width: 350px;
  outline: none;
}

.form-control {
  border-radius: 12px;
  padding-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-size: 1em;
  font-weight: bold;
  transition: 0.2 ease-out;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city {
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: -2px;
}
.date-time {
  color: #fff;
  font-size: 1em;
}

.big-temp {
  color: #fff;
  font-size: 6.5em;
  font-weight: 900;
  margin: 10px 0 15px 0;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.7);
}

.big-temp span {
  font-weight: 500;
}

.weather {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.feels-like-temp {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  color: #fff;
  margin: 25px 15px;
  padding: 15px;
  font-size: 24px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 150, 3, 0.1),
    rgba(50, 80, 200, 0.3)
  );
}

.weather-forecast {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
}

.temp {
  font-weight: 800;
  font-size: 35px;
  padding: 5px;
  margin-bottom: 10px;
}

.feels-degrees {
  font-weight: 700;
}

footer {
  font-weight: 900;
  text-align: center;
  padding-top: 270px;
  color: white;
}

@media (min-width: 700px) {
  .forecast {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
  }

  .day {
    margin: 0rem 1rem;
    padding: 0.5rem;
  }
}
